<H1>MyNotebook as a first step in Capstone Project</H1>

In [15]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [16]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [17]:
df=pd.read_csv("collisions.csv.csv",index_col="LOCATION")

C:\Users\sanja\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
LOCATION,,,,,,,,,,,,,,,,,,,,,
"(40.671204, -73.90051)",07/26/2018,22:14,BROOKLYN,11207,40.671204,-73.900510,PITKIN AVENUE,HINSDALE STREET,NaN,0.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,3949500,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
NaN,08/14/2018,5:45,MANHATTAN,10019,NaN,NaN,WEST 59 STREET,5 AVENUE,NaN,0.0,...,Unspecified,NaN,NaN,NaN,3961858,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
"(40.792183, -73.968025)",08/03/2018,12:45,NaN,NaN,40.792183,-73.968025,WEST 95 STREET,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,3955325,Sedan,Sedan,NaN,NaN,NaN
"(40.720592, -73.74913)",08/16/2018,18:00,QUEENS,11428,40.720592,-73.749130,91 AVENUE,212 STREET,NaN,0.0,...,Unspecified,NaN,NaN,NaN,3962406,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
"(40.70499, -73.91736)",07/26/2018,15:00,NaN,NaN,40.704990,-73.917360,STOCKHOLM STREET,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,3948814,Sedan,NaN,NaN,NaN,NaN

In [20]:
!conda install -c anaconda seaborn -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [26]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

df.groupby(['CRASH DATE'])['CRASH TIME'].value_counts(normalize=True)

In [29]:
Feature = df[['CRASH DATE','ZIP CODE','ON STREET NAME','OFF STREET NAME','CROSS STREET NAME']]

Feature.head()
X=Feature
X[0:5]
y = df['ZIP CODE'].values
y[0:5]

array([11207.0, 10019.0, nan, 11428.0, nan], dtype=object)

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.2, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (1371610, 5) (1371610,)
Test set: (342903, 5) (342903,)